.form-item{
    background: lightgrey;
    margin: 5%;
    padding: 20px 5%;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}
.form-item h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
    
}
.form-item .ant-input{
    border-radius: 5px;
    width: 80%;
}
.form-item .ant-form-item-required {
    font-weight: 500;
}
.form-item .ant-picker {
    border-radius: 5px;
}
.form-item .ant-btn-primary{
    border-radius: 5px;
    background: #185B8C;
    outline: none;
    border: none;
    margin: 5%;
      
}

.form-item .ant-form-item .ant-select{
    width: 80%;
}


.MainContainer-Item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.button{
    border-radius: 5px;
    padding: 50px 0px 30px 90%;
}
.month{
    border-radius: 100px;
    padding: 50px 40px 30px 90%;
}
.addItem-table .ant-table-content{
    background: #bae2f0;
    font-size: 16px;
}
.addItem-table .ant-table-thead .ant-table-cell{
    background: #07bbd1 
}
.txt{
    text-align: left;
    font-size: 20px;

}
.select-item-filter .ant-form-item .ant-select{
    width: 50%;
}
.select-item-filter{
    margin: 15px;


}
.item{
    padding: 90px 40px 30px 3%;
    
    display: flex;
}

.one-item{
    background: lightgrey;
    width: 400px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 10px;
}
.btn{
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.addItem-table{
    margin: 40px;
}
.product-img{
    height:100px;
    width: 130px;
}
    
    