#signinForm{
    background: #C8FFF1;
    margin: 5%;
    padding: 50px;
    border-radius: 20px;
    width: 40%;
}

#signinForm h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.form-common .ant-btn-primary{
    border-radius: 5px;
    background: #00C8CD;
    outline: none;
    border: none;
}

.main-container-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#EDFFFA;
}


