.form-signin{
    background: #1282A2;
    margin: 5%;
    padding: 50px;
    border-radius: 20px;
    width: 40%;
}

.form-signin h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.form-signin .ant-btn-primary{
    border-radius: 5px;
    background: #ff0000;
    outline: none;
    border: none;
}

.main-container-signin{
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
}

.form-signin.ant-input-affix-wrapper{
    width: 50%;
}

.form-signin .ant-form{
    width: 50%;
}

 .ant-form{
     color: wheat;
 }