.lecprofileform{
    background: lightgrey;
    margin: 5%;
    padding: 50px;
    border-radius: 20px;
    width: 40%;
}

.lecprofileform h1{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}
.lecprofileform h3{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.lecprofileform .ant-btn-primary{
    border-radius: 5px;
    background: #07bbb1;
    outline: none;
    border: none;
}

.main-container-lecprofile{
    display: flex;
    justify-content: center;
    align-items: center;
}

