/*Enroll Page*/
/* .stdEnroll{
    background: #88BDBC;
    margin-top: 1%;
    margin-left: 6%;
    padding: 40px;
    border-radius: 20px;
    width: 40%;
    height:680px;
    float: left;
} */
.crsEnroll{
    background: #88BDBC;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 50%;
    padding: 40px;
    padding-left: 10px;
    padding-right: 120px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 50%;
    height:750px;
    float: left;
    
}
.enroll .ant-input{
    border-radius: 6px;
    padding-left: 25px;
  
    
}
.markbackgrnd .ant-input{
    border-radius: 6px;
}

.crsEnroll .ant-btn-primary{
    border-radius: 5px;
    background-color: #1282A2;
    border-color: #1282A2;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 5%;
    width: 100px;
    height: 35px;
   
    
}
.crsEnroll .ant-btn-primary:hover{
    opacity: 0.5;
}
.resetBtn{
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 8%;
    width: 100px;
    height: 35px;
}

.enrollImage{
    width:70%;
    margin-left: 25%;
    margin-right: 10%;
  
}
.enroll .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 6px;
    
   
}

.markbackgrnd .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 6px;
}


/*My Course Page*/
.MyCourseImg{
    width:50%;
    height:400px;
   
}

.crsTable{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    
    
}
.edit-dlt{
    width:50px;
    margin: 5%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #1282A2;
    border-color: #1282A2;
}
.edit-dlt:hover{
    opacity: 0.5;
}
.searchbar{
    margin-top:2%;
    margin-bottom: 0.2%;
    margin-right: 5%;
    margin-left: 75%;
    width:20%;
}
.enroll .ant-btn-primary:hover,.ant-btn-primary:focus{
    background:#1282A2 ;
    
}

.enroll .ant-btn-primary{
    background-color: #1282A2;
    border-color: #1282A2;
    background: #1282A2;
    
}

.myCrs .ant-btn-primary:hover,.ant-btn-primary:focus{
    background:#1282A2 ;
    
}

.myCrs .ant-btn-primary{
    background-color: #1282A2;
    border-color: #1282A2;
    background: #1282A2;
    
}

.myCrs .ant-table{
    background-color:#88BDBC;
}
.myCrs .ant-table-row {
    text-align: center;
}
.myCrs .ant-table-row:hover{
    opacity: 0.7;
    
}
.enrolllHeading{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    font-family: Georgia, serif;
    margin-left: 100px;
}

.myCrs .ant-table.ant-table-middle .ant-table-title, .ant-table.ant-table-middle .ant-table-footer, .ant-table.ant-table-middle .ant-table-thead > tr > th, .ant-table.ant-table-middle .ant-table-tbody > tr > td, .ant-table.ant-table-middle tfoot > tr > th, .ant-table.ant-table-middle tfoot > tr > td{
    padding: 12px ;
    width: 20px;
       
}

/*Performance Table*/
.perLabels1{
    float: left;
    margin-left: 10%;
    font-size: 20px;
}
.perLabels2{
    float: left;
    margin-left: 55%;
    font-size: 20px;
}

/*Add Marks*/
.addMarks{
    background: #88BDBC;
    margin-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 6%;
    padding: 40px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 40%;
    height: 60%;
    
    
}
.myCrs .ant-table-thead .ant-table-cell{
    background: #1282A2;
    text-align: center;
    
}
.addMarks .ant-btn-primary{
    border-radius: 5px;
    background-color: #1282A2;
    border-color: #1282A2;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin: 5%;
    width: 100px;
    height: 35px;
}
.addMarks .ant-btn-primary:hover{
    opacity: 0.5;
}

/*Add New Button*/
.AddButton{
    margin-top: 5px;
    margin-left: 80px;
      
}
.AddButton:hover{
    opacity: 0.6;
}

.popupdlt .ant-popover-inner-content{
    width: 500px;
}










