.form{
    background: lightgrey;
    border-radius: 10px;
    margin: 5%;
    border-radius: 20px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    padding: 20px 5%;
}
.form h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
    
}
.form .ant-input{
    border-radius: 5px;
    width: 80%;

}
.form .ant-form-item-required {
    font-weight: 500;
}
.form .ant-picker {
    border-radius: 5px;
}
.form .ant-btn-primary{
    border-radius: 5px;
    background: #185B8C;

}
.form .ant-checkbox-wrapper{
    font-size: 15px;
    font-weight: 500;
}
.form .ant-form-item .ant-select{
    width: 80%;
}

.main-container-payment{
    display: flex;
    justify-content: center;
    align-items: center;

}

.withdrawHistory-table{  
    margin: 3%; 
}
.main-container-withdrawHistory h1{
    text-align: center;
    margin: 50px;
}

.ant-table-content{
    background: #185B8C;
}
.ant-table-thead .ant-table-cell{
    background: grey;
}

.paymentHistory-table{  
    margin: 3%; 
}
.main-container-paymentHistory h1{
    text-align: center;
    margin: 50px;
}

