.form{
    background: lightgrey;
    margin: 10%;
    padding: 50px;
    border-radius: 10px;
    width: 40%;
}
.form h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
    
}
.form .ant-input{
    border-radius: 5px;
    width: 75%;
    
}
.form .ant-form-item-required {
    font-weight: 500;
}
.form .ant-picker {
    border-radius: 5px;
}
.form .ant-btn-primary{
    border-radius: 5px;
    background: #185B8C;
    outline: none;
    border: none;
}
.form .ant-checkbox-wrapper{
    font-size: 15px;
    font-weight: 500;
}

.main-container-payment{
    display: flex;
    justify-content: center;
    align-items: center;
}