.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: #84c4b6;
    color: white;
 
}
.pages{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-weight: 600;
    align-items: center;
    font-size: 18px;
}
.logo{
    width: 150px;
    height: 100px;
}
