/*askQuestion,editQuestion,noticeCreate forms */
.lecform{
    background:#bae2f0d8;
    margin: 5%;
    padding: 50px;
    border-radius: 20px;
    width: 40%;
}
/*form heading #bae2f0*/
.lecform h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;   
}
/*form inputs*/
.ant-input{
    border-radius: 5px;
    width: 90%;
}

/*change width of dropdown*/
.ant-form-item .ant-select, .ant-form-item .ant-cascader-picker{
    width:90%;
}
/*change border of dropdown*/
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius:5px;
}

/*change hight of textarea*/
textarea.ant-input{
    min-height: 120px;
}
/*change form font weight*/
.lecform .ant-form-item-required {
    font-weight: 600;
}
/*form buttons */
.btnQuestion.ant-btn-primary{
    border-radius: 10px;
    background:#259cb1 ;
    outline: none;
    border: none;  
    width: 100px;
}

/*containers of forms*/
.main-container-askQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-editQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-createNotice{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*allQuestionList,allQuestions,noticesAll,noticeView tables*/
/*allQuestions table*/
.allQTable{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
}
/*noticeView table*/
.allQTable1{
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}
/*allQuestionList table*/
.allQTable2{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/*noticeAll table*/
.allQTable3{
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

.ant-table{
    margin-bottom: 4%;
}

/*edit and delete buttons*/
.edit-dlt-table{
    width:50px;
    margin: 5%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #07bbd1;
    border-color: #07bbd1;
}
.edit-dlt-table:hover{
    opacity: 0.5;
}

/*search bar in allQuestionList & allQuestions*/
.searchQ{
    margin-top:2%;
    margin-bottom: 0.2%;
    margin-right: 5%;
    margin-left: 75%;
    width:20%;
}

.ant-btn-primary{
    background-color: #07bbd1;
}

/*table description heading*/
.question_h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 5px;    
}
.notice_h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 55px;
    margin-top: 40px;    
}
/*table description subheading*/
.subHeading{
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/*ask new question button*/
.btnAll{
    width:220px;
    height: 36px;
    margin: 5%;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    background-color: #07bbd1;;
    border-color: #07bbd1;
}

.btnAll:hover{
    opacity: 0.5;
}
/*add notice button*/
.btnAllN{
    width:150px;
    height:36px;
    margin: 5%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #07bbd1;
    border-color: #07bbd1;
    margin-left: 5%;

}

.btnAllN:hover{
    opacity: 0.5;
}
/*change table width*/
.allT.ant-table.ant-table-middle .ant-table-title, .ant-table.ant-table-middle .ant-table-footer, .ant-table.ant-table-middle .ant-table-thead > tr > th, .ant-table.ant-table-middle .ant-table-tbody > tr > td, .ant-table.ant-table-middle tfoot > tr > th, .ant-table.ant-table-middle tfoot > tr > td{
    padding: 10px;
    width:15px;
}
/*align text center*/
.allT.ant-table-row{
    text-align:center;
}
/*change table heading color & text*/
.ant-table-thead > tr > th{
    background: #0b94a7;
    text-align: center;
}
/*change table background*/
.ant-table-content{
    background-color:#bae2f0;
}

